/* 1. BALISES */

/*  1a. Section nav*/

nav {
    background-color: #1f4a45;
    block-size: 80px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: #f0ebda;
    text-decoration: none;
}

ul {
    display: flex;  
}

ol {
    font-family: 'Roboto Condensed', sans-serif;
    color: #3c3c3c;
}

li {
    list-style-type: none;
    margin-right: 20px;
}

/*  1b. Section header*/

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 3em;
    color: #1f4a45;

}

header {
    background-color: #f0ebda;
    padding: 1em;
}

a:hover {
    color: #f0ebda;
    text-decoration: underline;
}

.img-petales {
    width: 60px;
    height: 60px;
    margin: 1.5em;
}

/*  1c. Section main*/

h2, h3 {
    color: #E25C49;
    font-family:'Roboto Condensed', sans-serif;;
}

p {
    color: #3c3c3c;
    font-weight: 400;
    font-family:'Roboto Condensed', sans-serif;
    margin: 2em;
}

img {
    width: 200px;
    height: 145px;
}

/*  1d. Section footer*/

footer {
    padding: 1.5em;
    background-color: #1f4a45;
}


/* 2. CLASS */

/* 2a. section nav */
.nav-menu {
    color: #f0ebda;
    text-decoration: none;
}

.search-box {
    border-radius: 20;
    margin-right: 10px;
    border-radius: 2%;
}

.recherche {
    border-radius: 30px;
    padding: 8px;
    font-family: 'Roboto Condensed', sans-serif;
}

/* 2b. Section header */

/* 2c. Section main */

.bloc-apropos, .engagement, .choisir-bp {
    margin: 60px;
}

.polaroids {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 60px;
    background: white; 
}

.img-fleurs {
    border: 2px solid white;
    box-shadow: 0px 2px 10px 0px #656565;
    border-radius: 20%;    
}

.img-fleurs:hover {
    transform: scale(1.2);    
}

.savoir-plus {
    color: #3c3c3c;
}

.savoir-plus:hover {
    color: #3c3c3c;
}

/* 2d - Section footer*/

.fa-brands {
    color: #f0ebda;
    font-size: 1.5em;
}

.text-footer {
    color: #f0ebda;
    font-size: 1.5em;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px 0px 0px 42px;
}

.copyright {
    color: #f0ebda;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: small;
}


/* 3. IDS */

/* 3. Media Queries */

/* 3. Media Queries */

